.logo {
  height: 2.2rem;
}

.title {
  font-family: 'Text Me One', sans-serif; /* Bungee Inline */
  font-size: 4rem;
  font-weight: 100;
  color: black;
  width: 70vw;
  line-height: 1;
}

mark {
  background-color: white;
}

.h1 {
  overflow-wrap: break-word;
}

.social-image {
  max-width: 700px!important;
  cursor: none;
}
img.macbook-62 {
  margin: -3% -100% 0% 10%!important;
}
.demodemo {
  max-width: 25rem!important;
  border-radius: 0.3rem;
}

.grid-73 .cell-73 {
  padding: 10px 15px;
}

.mobile-img {
  display: none;
}

.desk-img {
  display: inherit;
}
/* Mobile */

.mobile
  .title {
  font-size: 2rem;
 }

 .mobile .button {
   zoom: 80%;
  }

 .button .main {
   font-weight: 100;
   background-color: #0dee0f;
 }
 .mobile .demodemo {
   max-width: 15rem!important;
   border-radius: 0.3rem;
   margin-bottom: 30px;
 }
 .mobile .mobile-img {
   display: inline;
 }

 .mobile .desk-img {
   display: none;
 }

h1 {
  font-family: 'Lexend Exa', sans-serif;
}

h3 {
  font-family: 'Lexend Exa', sans-serif;
}

/* Team */

.team .badge {
  border-radius: 100%;
  height: 8rem;
  width: 8rem;
  box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
}

.mobile .team .badge {
  height: 3rem;
  width: 3rem;
}

.mobile .team .col-2-12 {
  width: 30%;
}
.mobile .columbia {
  zoom: 50%;
}
.mobile .team .exp {
  padding-left: 10%;
}

/* Extension */

.badge {
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
}

/* Form */
.pad {
  background-color: rgba(14,14,14,0.9);
}
.pad .label {
  color: white;
}
.pad button {
  margin-top: 1rem!important;
}

.button {
  background: #def009;
}

.webapp {
  border-radius: 10px;
  border-color: rgba(0, 229, 255, 0.7);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0px 0px 5pc rgba(0, 229, 255, 0);
}
